page-signup {
    
    .icon-facebook{
        margin: 0px 10px 0px 10px;
    }
    .background{
        width: 100%;
        height: 100%;
        background: linear-gradient(10deg,#4e5efc,#4ee7fc);
    }
    .scroll-content{
        text-align: center;
    }
    ion-card.card{
        background: rgba(232, 230, 230, 0.6px);
        border-radius: 10px;
    }
    .item{
        background: rgba(232, 230, 230, 0px);
    }
    ion-input{
        border-bottom: #4e5efc solid 1px;
    }
    h1{
        color: #fff;
        font-size: 3em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: lighter;
    }
    .fbB{
        margin-bottom: 10px;
    }
    #btn{
        margin: 25px 0px 15px 0px
    }
    toast{
        text-align: center;
    }

    .alert .alert-wrapper {
        border-radius: 2px;
        max-width: 90%;
        background-color: #ffffff;
        -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
        box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
        width: 90%;
        text-align: center;
    }
    .alert .alert-head {
        text-align: left;
        text-align: center;
        padding: 24px 24px 20px;
    }
    .alert img{
        width: 50px;
        height: 50px;
    }
    .alert .alert-sub-title {
        font-size: 32px;
    }

}
