ion-item ion-card{
    padding: 5px 8px 0px 0px;
}
ion-item ion-card p{
    white-space: nowrap;
}

.img2{
    float: left;
    margin: 0px 10px 5px 5px;
}
.p{
    padding: 5px 0px 3px 0px
}
.title{
    text-align: center;
}

